.bill-splitter-container {
  padding: 20px;
}

.bill-splitter-inputs {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.bill-splitter-input {
  width: 100%;
  margin-bottom: 10px;
}

.bill-splitter-tax {
  display: flex;
  width: 100%;
}

.bill-splitter-tax .bill-splitter-input:nth-child(1) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bill-splitter-actions {
  margin-bottom: 20px;
}

.footer {
  display: flex;
  justify-content: flex-end;
}

.bill-splitter-summary {
  overflow-x: auto;
}

@media (min-width: 768px) {
  .bill-splitter-input {
    width: 40%;
  }

  .bill-splitter-tax {
    width: calc(20% - 1rem);
    flex-direction: column;
    margin-left: 1rem;
  }

  .bill-splitter-tax .bill-splitter-input {
    width: 99%;
  }
  
}
